<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.cowboysenindiana.app.rooster.cowboysenindiana" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <!--android:name="nl.cowboysenindiana.app.schedule.ScheduleActivity"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:parentActivityName=".Dashboard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.cowboysenindiana.app.rooster.cowboysenindiana.Dashboard" />
        </activity>
        <activity
            android:name=".ScheduleDashboard"
            android:label="Dashboard alle groepen."
            android:parentActivityName=".ScheduleDashboard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.cowboysenindiana.app.rooster.cowboysenindiana.MainActivity" />
        </activity>
        <activity
            android:name="nl.cowboysenindiana.app.editdata.Correction"
            android:label="@string/title_activity_correction" >
        </activity>
        <activity
            android:name="nl.cowboysenindiana.app.editdata.AddChild"
            android:label="@string/title_activity_add_child" >
        </activity>
        <activity
            android:name="nl.cowboysenindiana.app.editdata.AddChildDetail"
            android:label="@string/title_activity_add_child_detail" >
        </activity>
    </application>

</manifest>
