<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.cowboysenindiana.app.rooster.cowboysenindiana" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="23" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="nl.cowboysenindiana.app.frame.SplashActivity"
            android:label="@string/app_name" >
            <!--android:name="nl.cowboysenindiana.app.schedule.ScheduleActivity"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="nl.cowboysenindiana.app.schedule.ScheduleActivity"
            android:label="November 2015" >
        </activity>
        <activity
            android:name="nl.cowboysenindiana.app.networkTest.MainActivity"
            android:label="November 2015" >
        </activity>
        <activity
            android:name=".PresenceListActivity"
            android:label="@string/title_activity_dashboard"
            android:parentActivityName=".PresenceListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PresenceListActivity" />
        </activity>
        <activity
            android:name="nl.cowboysenindiana.app.editdata.Correction"
            android:label="@string/title_activity_correction" >
        </activity>
        <activity
            android:name="nl.cowboysenindiana.app.editdata.AddChild"
            android:label="@string/title_activity_add_child" >
        </activity>
        <activity
            android:name="nl.cowboysenindiana.app.editdata.AddChildDetail"
            android:label="@string/title_activity_add_child_detail" >
        </activity>
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard" >
        </activity>
        <activity
            android:name="nl.cowboysenindiana.app.profile.ViewChildProfile"
            android:label="" >
        </activity>
    </application>

</manifest>
